{% extends "_base.html" %}

{% block page_title %}لیست کتاب‌ها{% endblock %}

{% block content %}
    {% for book in books %}
        <div>
            <h2><a href="{{ book.get_absolute_url }}">{{ book.title|capfirst }}</a></h2>
            <p>نویسنده: {{ book.author|capfirst }}</p>
             <p>{{ book.description|truncatewords:45 }}</p>
            <p>قیمت: {{ book.price }} تومان</p>
            
            <p>
                <a href="{% url 'book_update' book.id %}"><button>ویرایش</button></a>
                <a href="{% url 'book_delete' book.id %}"><button>حذف</button></a>
            </p>
            <hr>
        </div>
    
    {% endfor %}

    <div>
        <a href="{% url 'book_create' %}"><button>+ افزودن کتاب جدید</button></a>
    </div>
{% endblock %}

